@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background: #e3dbdb;
    padding: 0 20px 0 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.texttitle p{
    color: #000000;
    font-size: 30px;
}

i{
    font-weight: 400;
    font-size: 15px;
}

.side-image{
    background-image: url("assets/32221.jpg");
    background-image: url("assets/3344.jpg");
    background-image: url("assets/6611.jpg");
    background-image: url("assets/7722.jpg");
    background-image: url("assets/8877.jpg");
    background-image: url("assets/9911.jpg");
    background-image: url("assets/8881.jpg");
    background-image: url("assets/555111.jpg");
    background-image: url("assets/11234.jpg");
    background-image: url("assets/00122.jpg");
    background-image: url("assets/2042.jpg");
    background-image: url("assets/13212.png");
    background-image: url("assets/16170.jpg");
    background-image: url("assets/34441.jpg");
    background-image: url("assets/1276415.jpg");
    animation: slide 15s infinite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

@keyframes slide {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-register{
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    max-height: 550px;
    overflow-y: auto;
}

.main--title{
    color: #4a80d0;
}

.tabular--wrapper{
    background: #ffffff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.table-container{
    width: 100%;
    max-height: 480px;
    overflow-y: auto;
}

.table-container button{
    color: green;
    background: none;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    background: #4a80d0;
    color: #fff;
}

th{
    padding: 11px;
    text-align: left;
}

tbody{
    background: #dcdcdc;
}

td{
    padding: 11px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #ffffff;
}

tfoot{
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td{
    padding: 10px;
}

.card--container{
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.info--card{
    background: #ccc5c5;
    border-radius: 10px;
    padding: 1.2rem;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.info--card:hover{
    transform: translateY(-5px);
}

.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 18px;
    font-weight: 200;
}

.amount--value{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/* Color CSS */
.light-red{
    background: rgb(204, 145, 145);
}
.light-blue{
    background: #8ca2c4;
}
.light-green{
    background: #a4ca9b;
}
.light-purple{
    background: rgb(175, 116, 192);
}
.light-yellow{
    background: #c1c58c;
}
.red{
    background: rgb(209, 9, 9);
}
.blue{
    background: #0e5dd2;
}
.green{
    background: #38cd12;
}
.purple{
    background: rgb(169, 17, 211);
}
.yellow{
    background: #d1df0c;
}
.dark-red{
    background: rgb(126, 7, 7);
}
.dark-blue{
    background: rgb(8, 48, 107);
}
.dark-green{
    background: #1f700b;
}
.dark-purple{
    background: rgb(96, 10, 120);
}
.dark-yellow{
    background: #848d08;
}

.icon2{
    color: #FFF;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
}

.btn-delete{
    border-radius: 10px;
    background: #db5d59 url('button/hapus.png') no-repeat 15px 12px;
    height: 22px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    transition-duration: 0.4s;
}

.btn-delete:hover {
    background-color: #dd8683;
    color: white;
}

.btn-edit{
    border-radius: 10px;
    background: #1763d5 url('button/edit.png') no-repeat 15px 12px;
    height: 22px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    transition-duration: 0.4s;
}

.btn-edit:hover {
    background-color: #718fbb;
    color: white;
}

:root{
    --sidebar-color: #FFF;
    --primary-color: #4a80d0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    background-color: #e3dbdb;
    height: 100vh;
    transition: var(--tran-05);
}
::selection{
    background-color: var(--primary-color);
    color: #fff;
}
body.dark{
    background-color: #1f1f1f;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --sidebar-color: #292929;
    --primary-color: #5a5a5a;
    --primary-color-light: #2d2d2d;
    --toggle-color: #fff;
    --text-color: #ccc;
}
#form{
    background: transparent;
    backdrop-filter: blur(15px);
    border-color: rgb(255, 255, 255);
}
#form2{
    background: rgb(243, 243, 243);
    border-color: rgb(211, 211, 211);
}
#btn{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border: none;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#btn-login{
    padding-left: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 170px;
    border: 2px solid;
    border-color: #cccccc;
    color: #000000;
    font-size: 20px;
    border-radius: 50px;
    background-color: #e8e8e8;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#btn-register{
    padding-left: 165px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 165px;
    border: none;
    color: #000000;
    font-size: 20px;
    border-radius: 50px;
    background-color: #e8e8e8;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#btn-luppass{
    padding-left: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 170px;
    border: none;
    color: #000000;
    font-size: 20px;
    border-radius: 50px;
    background-color: #e8e8e8;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#btn-ganpass{
    padding-left: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 170px;
    border: none;
    color: #000000;
    font-size: 20px;
    border-radius: 50px;
    background-color: #e8e8e8;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#text{
    color: #ffffff;
}
#text2{
    color: #000000;
}
#text-title{
    color: #4a80d0;
}
#klikdisini{
    color: rgb(12, 155, 238);
}
#klikdisini2{
    color: rgb(0, 0, 0);
}
.popup{
    background: rgb(243, 243, 243);
    width: 400px;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 50%;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(211, 211, 211);
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 10px 10px;
    color: #ffffff;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
#popupbtn{
    width: 35%;
    margin-top: 0px;
    padding: 8px 0;
    background: #53b75d;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup button{
    width: 35%;
    margin-top: 0px;
    padding: 8px 0;
    background: rgb(201, 58, 58);
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}
.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
body.dark .switch::before{
    left: 20px;
}
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 270px;
    height: 100vh;
    width: calc(100% - 290px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}
.sidebar.close ~ .home{
    left: 120px;
    height: 100vh;
    width: calc(100% - 150px);
}
body.dark .home .text{
    color: var(--text-color);
}